<h3>评论列表，共 <span>{{ comment_count }}</span> 条评论</h3>
<ul class="comment-list list-unstyled">
  {% for comment in comment_list %}
      <li class="comment-item">
          <span class="nickname">{{ comment.name }}</span>
          <time class="submit-date" datetime="{{ comment.created_time }}">{{ comment.created_time }}</time>
          <div class="text">
{#              linebreaks过滤器：浏览器会将换行转换为空格，而linebreaks使得换行符提前转换为<br>，使得内容可以换行显示#}
              {{ comment.text|linebreaks }}
          </div>
      </li>
  {% empty %}
      暂无评论
  {% endfor %}
</ul>